html, body, div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} 

#bagImg{
    width: 120%;
    height: 120%
    top:0;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.container{
    z-index: 555;
    position: fixed;
    top:30%;
    left:5%;
    height:30%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
body{
    font-family: "굴림";
}
.link a{
    
    margin:10px;
}